* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
  padding: 45px;
  border: 2px;
  border-radius: 15px;
  background-color: rgba(169, 169, 169, 0.445)
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  font-weight: 600;
  cursor: default;
}

.borderRight {
  border-right: 5px solid black;
}

.borderBottom {
  border-bottom: 5px solid black;
}

.horizontal,
.vertical,
.main-diagonal,
.secondary-diagonal {
  display: none;
  position: fixed;
  background-color: green;
}

.horizontal {
  width: 200px;
  height: 5px;
}

.vertical {
  width: 5px;
  height: 200px;
}

.main-diagonal {
  width: 5px;
  height: 285px;
  transform: rotate(-45deg);
}

.secondary-diagonal {
  width: 5px;
  height: 285px;
  transform: rotate(45deg);
}
